/* 
    Document   : style
    Created on : 21.1.2014, 21:19:55
    Author     : metro
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.condition_box{
    position: relative;
    display: inline-block;
    padding: 10px;
    border: 1px solid #6666ff;
    background-color: #9999ff;
    margin-bottom: 17px;
}
.condition_box *{
    padding: 0;
    margin: 0;
}
.condition_box .dragable{
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    right: -5px;
    background-color: #ff0033;
}
.condition_box .andi{
    position: absolute;
    width: 30px;
    height: 15px;
    bottom: -17px;
    left: 47%;
    background-color: #ffcc66;
    font-family: arial;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
}
.condition_box:last-child .andi{
    display: none;
}
.condition_box:hover .dragable{
    display: block;
}
.condition_box .dragable:hover{
    cursor: pointer;
}
.workspace{
    position: relative;
    border: 1px solid #cccccc;
    height: 500px;
    margin-top: 30px;
}
.workspace .add{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -3px;
    left: -3px;
    background-color: #cccccc;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    z-index: 1000;
}
.workspace .holder{
    padding-left: 10px;
    height: inherit;
}
.workspace .holder .column{
    position: relative;
    border: 2px dashed #FFDC73;
    height: 460px;
    width: 40px;
    float:left;
    margin: 10px 10px 0px 0px;
    padding: 10px;
}
.workspace .holder .column .del{
    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    right: -5px;
    line-height: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #ff6666;
    cursor: pointer;
    display: none;
}
.workspace .holder .column:hover .del{
    display: block;
}
.workspace .holder .column .ori{
    position: absolute;
    right: -23px;
    top: 240px;
    width: 30px;
    height: 30px;
    background-color: #ffcc66;
    line-height: 30px;
    text-align: center;
    z-index: 1000;
    font-family: arial;
}
.workspace .holder .column:last-child .ori{
    display: none;
}
.get{
    margin-top: 30px;
    font-family: arial;
    width: 300px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: #cccccc;
    cursor: pointer;
}
.result{
    margin-top: 20px;
    min-height: 30px;
    border: 1px solid #cccccc;
}

